<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <data-source>
        <name>java:global/PostgresDS</name>
        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>5432</port-number>
        <database-name>database</database-name>
        <user>user</user>
        <password>password</password>
<!--        <server-name>pg</server-name>-->
<!--        <port-number>5432</port-number>-->
<!--        <database-name>studs</database-name>-->
<!--        <user>s335160</user>-->
<!--        <password>wIoLzrRkt4v2zo01</password>-->
        <property>
            <name>fish.payara.slow-query-threshold-in-seconds</name>
            <value>5</value>
        </property>
        <property>
            <name>fish.payara.log-jdbc-calls</name>
            <value>true</value>
        </property>
        <property>
            <name>fish.payara.is-connection-validation-required</name>
            <value>true</value>
        </property>
        <property>
            <name>fish.payara.connection-validation-method</name>
            <value>custom-validation</value>
        </property>
        <property>
            <name>fish.payara.validation-classname</name>
            <value>org.glassfish.api.jdbc.validation.PostgresConnectionValidation</value>
        </property>
    </data-source>
</web-app>
